<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1><span th:text="${catherineAttribute.name}"> </span></h1>
<br>
<h3><span th:text="${catherineAttribute.age}"> </span></h3>
<br>
<span th:text="${catherineAttribute.bio}"> </span>
<br>
<!--how can I add the image attribute of my selfie class to htlm?-->
<!--<text="${catherineAttribute.image}">-->
<br>
<img src="https://raw.githubusercontent.com/camm9/Awesome_Assignment2/catherine_FEATURE/src/main/resources/static/catherine_selfie.jpg" alt="catherine" width="250" height="350">
</body>
</html>